<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy || Not Found</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../../static/img/image-favicon.png" type="image/x-icon">
    <!-- link library -->
    <link rel="stylesheet" href="../../static/library/library.css">
    <script src="../../static/library/library.js"></script>
    <!-- link css -->
    <link rel="stylesheet" href="../../static/style/tiger.css">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
</head>
<body>
    <div class="not-found">
        <div class="container not-found-box">
            <a href="../index.html" class="back"><i class="bi bi-arrow-left"></i> Back to our Site</a>
            <div class="not-list">
                <h1>404</h1>
                <p>not Found</p>
            </div>
        </div>
    </div>
</body>
</html>
