<!-- footer -->
<div class="footer">
    <div class="container footer-box">
        <div class="up-copy">
            <div class="left-footer">
                <h1 class="h121">ALOQA</h1>
                <div class="manzilar">
                    <h4>Manzil:</h4>
                    <p>Namangan viloyati, Namangan shahri <br> Islom Karimov ko'chasi 4 - B uy.</p>
                </div>
                <div class="manzilar">
                    <h4>Murojat uchun tel:</h4>
                    <p>+998(91) 698-07-00</p>
                </div>
                <div class="manzilar">
                    <h4>Email:</h4>
                    <p>khan-007@gmail.com</p>
                </div>
            </div>
            <div class="right-footer">
                <h1 class="foter-h1">
                    we look forward
                </h1>
                <h1 class="foter-h1">
                    to seeing you
                </h1>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <div class="right-copy">
                <p>&copy;CopyRight by <span>IT CENTER</span></p>
            </div>
            <div class="left-copy">
                <a href="not-found.html" class="iconsa"><i class="bi bi-telegram"></i></a>
                <a href="not-found.html" class="iconsa"><i class="bi bi-facebook"></i></a>
                <a href="not-found.html" class="iconsa"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
