 <!-- sidebar -->
 <div class="sidebar">
     <div class="bar"><i class="bi bi-three-dots"></i></div>
     <a href="./index.html" class="side-link">
         <i class="bi bi-house-fill"></i> Asosiy
     </a>
     <a href="about.html" class="side-link">
         <i class="bi bi-book-fill"></i> Biz xaqimizda
     </a>
     <a href="courses.html" class="side-link">
         <i class="bi bi-book-fill"></i> Kurs Haqida
     </a>
     <a href="contact.html" class="side-link">
         <i class="bi bi-person-lines-fill"></i> Bog`lanish
     </a>
    </div>
