{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- carusel-add -->
    <div class="box">
        <div class="container carusel-box">
            <div class="anime">
                <div class="img-box oshakun" style="background-image: url('./images/bg.jpg');">
                    <div class="birga">
                        <div class="width">
                            <h1 class="box-h1">Assalamu alaykum, <br> Biz Xaqimizda <br> Koproq ma`lumotga <br> ega
                                boling</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="construction">
        <div class="container const-box">
            <h1 class="umummiy">Academy haqida umumiy ma`lumot</h1>
            <p class="malumot">Bu o`quv kursimiz _ _ _ _ -yilning _______ oyida tashkil etilgan ta`lim muassasasi. Bu
                o`quv kursimizni ochiahdan asosiy maqsadimiz o`zbek xalqini ishsizlik va bilimsizlikdan olib chiqish va
                oliy malumotli kadrlarni kopaytirishdir.Biz sizni eng nufuzli o`qishga kirishingizga kafolat beramiz.
                Bugungu kunda mavjud bo`lgan kurslarimiz: Ingliz tili, rus tili, arab tili, matematika, mentall
                arifmetika, fizika, ona tili va adabiyot, kimyo va biologiya, tarix, chizmachilik.</p>
        </div>
    </div>
    <!-- product -->
    <div class="product sellf">
        <div class="container product-box">
            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">MATEMATIKA</h2>
                    <p class="plar">Bizning matematika kursimizni malakali o`qituvchilar olib boradi. Siz matematika
                        kursimizni muvoffaqqiyatli tamomlasangiz siz sertifikat olishingiz mumkin. Lekin bu sertfikat
                        sizni oliy o`quv yurtiga olib kirib qo`ymaydi.Kayfiyatizngizni tushurmang siz kerakli bilimni
                        olasiz va albatta oliy o`quv yurtiga kirasiz. Blaki sizni Bug`galteriya sohasida ishga
                        kirishingizda yordam beradi.</p>
                </div>
                <div class="img-math">
                    <img src="../static/img/math.jpg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce">
                <div class="img-math">
                    <img src="../static/img/fizika.jpg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2">FIZIKA</h2>
                    <p class="plar">Bizning bu Fizika kursimizni ham o`qituvchilari juda malakali va siz mukammal dars
                        olasiz. Siz bizni fizka kursimizni muvoffaqqiyatli tamomlasangiz sizga sertfikat beriladi. Siz
                        bu sertifikat bilan ishga joylshishingiz mumkin.</p>
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">KIMYO</h2>
                    <p class="plar">Bizning bu Kimyo va Biologiya kursimizni ham o`qituvchilari juda malakali va siz
                        mukammal dars olasiz. Siz bizni Kimyo va Biologiya kursimizni muvoffaqqiyatli tamomlasangiz
                        sizga sertfikat beriladi. Sizga bu kursimiz malakali shifokor bo`lingizda yordam beradi.</p>
                </div>
                <div class="img-math">
                    <img src="../static/img/ximiya.jpg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce">
                <div class="img-math">
                    <img src="../static/img/english.jpg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2">INGLIZ TILI</h2>
                    <p class="plar">Bizning ingliz tili kursimizni IELTS 7 balldan yuqori bo`lgan malakali o`qituvchilar
                        olib boradi va siz 6 oy deganda ingliz tilida bemalol tez va ravon so`zlashasiz. Siz bu ingliz
                        tili kursimizni muvoffaqqiyatli tamomlasangiz siz sertifikat olishingiz mumkin. Bu sertifikat
                        qachon ishlaydi🤔🤔?</p>
                </div>
            </div>
            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">BIOLOGIYA</h2>
                    <p class="plar">Bizning bu Kimyo va Biologiya kursimizni ham o`qituvchilari juda malakali va siz
                        mukammal dars olasiz. Siz bizni Kimyo va Biologiya kursimizni muvoffaqqiyatli tamomlasangiz
                        sizga sertfikat beriladi. Sizga bu kursimiz malakali shifokor bo`lingizda yordam beradi.</p>
                </div>
                <div class="img-math">
                    <img src="../static/img/biology.jpg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce none">
                <div class="img-math">
                    <img src="../static/img/arxitektor.jpg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2">CHIZMACHILIK</h2>
                    <p class="plar malumot">Bizning bu chizmachilik kursimizni ham o`qituvchilari juda malakali va siz
                        mukammal dars olasiz. Siz bizni chizmachlik kursimizni muvoffaqqiyatli tamomlasangiz sizga
                        sertfikat beriladi. Bu sertfikat ishga joylashishingizga yordam beradi. Sizga bu kursimiz
                        malakali arxitektor bo`lingizda yordam beradi.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
