{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- carusel-add -->
<div class="box">
    <div class="container carusel-box">
        <div class="anime">
            <div class="img-box jaji" style="background-image: url('./images/bg.jpg');">
                <div class="birga">
                    <div class="width">
                        <h1 class="box-h1 h5363">Biz bilan aloqa, <br> Shoshiling Orinlar <br> Cheklangan</h1>
                    </div>
                </div>
                <div class="img-png">
                    <img src="./img/boglanish.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="construction">
        <div class="container const-box">
            <h1 class="umummiy">Biz bilan bog`lanish</h1>
            <p class="malumot">Brain Academy o`quv markazida o`qing va o`z kasbingizni toping. Ish vaqti: 9:00 - 22:00 .
                Yakshanba dam olish kuni. Ish vaqtining istalgan soatida xaritada ko`rsailgan manzilga kelishingiz
                mumkin. O`quv markaz haqida ma`lumot olish yoki markaz haqidagi istalgan savollaringizni Operatordan
                so`rashingiz mumkin. +998(91) 698-07-00</p>
        </div>
    </div>
    <!-- map -->
<div class="hero-contact">
    <div class="container hero-con">
        <div class="down-contact">
            <div class="left-dow">
                <h2 class="h222">Ijtimoiy tarmoqlardagi manzillarimiz:</h2>
                <div>
                    <i class="bi bi-telegram"></i>
                    <a href="#">Telegram: @Software_engineer</a>
                </div>
                <div>
                    <i class="bi bi-telegram"></i>
                    <a href="#"> Telegram: @DRACULA131313</a>
                </div>
                <div>
                    <i class="bi bi-facebook"></i>
                    <a href="#">Facebook: @it_qoqon</a>
                </div>
                <div>
                    <i class="bi bi-instagram"></i>
                    <a href="#">Instagram: @it_uchko`prik</a>
                </div>
            </div>
            <div class="right-dow">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43663.48839529908!2d71.03671529146015!3d40.55887977000129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bae522e2fc1e99%3A0x679245e1934adaec!2z0KPRh9C60YPQv9GA0LjQutGB0LrQuNC5INGA0LDQudC-0L0sINCj0LfQsdC10LrQuNGB0YLQsNC9!5e1!3m2!1sru!2s!4v1646750281183!5m2!1sru!2s"
                        style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
