{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="section--1">
    <div class="container">
        <form class="contact--form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                    {{field}}
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
</section>
{% endblock %}
